{{define "scripts"}}

<!-- ReactJS libs -->
<script type="text/javascript" src="/static/js/react.min.js"></script>
<script type="text/javascript" src="/static/js/react-dom.min.js"></script>
<script type="text/javascript" src="/static/js/browser.min.js"></script>
<script type="text/javascript" src="/static/js/react-bootstrap.min.js"></script>


<script type="text/javascript">
  window.dashboardProjects = {{.Data}}
</script>

<script type="text/javascript" src="{{Static "js" "dashboard.js"}}?hash={{ StaticsMD5 }}"></script>

{{end}}


{{define "title"}}
Evergreen - Perf Dashboard
{{end}}

{{define "content"}}
<div id="root" class="container-fluid"> </div>

<script type="text/javascript" src="{{Static "js" "dashboard-render.js"}}?hash={{ StaticsMD5 }}"></script>

{{end}}
